:root {
  padding: 0rem;
  margin: 0rem;

  --bg-color: #150e28;
  --main-font-color: #fff;
  --secondary-font-color: #903aff;
  --tertiary-font-color: #d434fe;

  box-sizing: border-box;
  font-size: 16px;
}
.accent-1 {
  color: var(--tertiary-font-color);
}
.accent-2 {
  color: var(--secondary-font-color);
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  overflow-x: hidden;
}
.underlined {
  position: relative;
  margin-right: 1rem;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 8px var(--tertiary-font-color);
  border-color: var(--tertiary-font-color) transparent transparent transparent;
  border-radius: 50%;
}
.font-smaller {
  font-size: 0.75rem;
}
.font-small {
  font-size: 1rem;
}
.font-medium {
  font-size: 1.2rem;
}
.font-large {
  font-size: 1.5rem;
}
.font-larger {
  font-size: 1.75rem;
}
.italic {
  font-style: italic;
}
body {
  overflow-x: hidden;

  background-color: var(--bg-color);
  color: var(--main-font-color);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  margin-bottom: 20px;
}
.nav-container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.desktop {
  visibility: hidden;
}
.nav-container li,
.mobile-navlist li {
  list-style-type: none;
}
.nav-container a,
.mobile-navlist a {
  text-decoration: none;
  color: var(--main-font-color);
}
.nav-container a:hover,
.mobile-navlist a:hover {
  color: var(--tertiary-font-color);
}

.nav-container .register:hover,
.mobile-navbar .register:hover,
.register:hover {
  color: var(--main-font-color);
  cursor: pointer;
}
.register {
  display: block;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 0.125rem;
  color: var(--main-font-color);
  background-image: linear-gradient(
    to right,
    var(--secondary-font-color),
    var(--tertiary-font-color)
  );
}

.mobile-navbar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  border: 1px solid #fff;
  border-radius: 5px;
  /* width: 70%; */
  padding: 50px;
  min-width: 290px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-pad {
  padding: 1rem;
}
.big-heading {
  font-family: Clash Display;
  font-size: 5rem;
  font-weight: 700;
  /* line-height: 2rem; */
  text-align: left;
  display: block;
}
.heading {
  font-family: Clash Display;
  font-size: 2rem;
  font-weight: 700;
  line-height: -2.66rem;
  text-align: left;
}
.paragraph {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: -33.2px;
  text-align: left;
}

.mobile-navbar li {
  margin-bottom: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
.align-end {
  align-self: end;
}
.align-start {
  align-self: start;
}
.align-right {
  text-align: right;
}
.hero .img-container img {
  width: 100%;
}

@media screen and (width >= 1000px) {
  .nav-check {
    display: none;
  }
  .nav-container {
    visibility: visible;
  }
}
@media screen and (width <= 1000px) {
  .hero .grid-container {
    display: block;
  }
}
