:root {
  padding: 0rem;
  margin: 0rem;

  --bg-color: #150e28;
  --main-font-color: #fff;
  --secondary-font-color: #903aff;
  --tertiary-font-color: #d434fe;

  box-sizing: border-box;
  font-size: 16px;

  --fs-small: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;
  --fs-larger: 2rem;
  --fs-xlarge: 4.5rem;

  --heading-line-height: 0rem;
  --paragraph-line-height: 1.5rem;
}
.accent-1 {
  color: var(--tertiary-font-color);
}
.accent-2 {
  color: var(--secondary-font-color);
}
hr {
  border-top: none;
  border-bottom: 1px #ffffff76 solid;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: left;
  overflow-x: hidden;
}
.underlined {
  position: relative;
  margin-right: 1rem;
}
.underined:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 8px var(--tertiary-font-color);
  border-color: var(--tertiary-font-color) transparent transparent transparent;
  border-radius: 50%;
}
.font-smaller {
  font-size: 0.75rem;
}
.font-small {
  font-size: 1rem;
}
.font-medium {
  font-size: 1.2rem;
}
.font-large {
  font-size: 1.5rem;
}
.font-larger {
  font-size: 1.75rem;
}
.italic {
  font-style: italic;
}
body {
  overflow-x: hidden;

  background-color: var(--bg-color);
  color: var(--main-font-color);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  margin-bottom: 20px;
}
.nav-container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.desktop {
  display: none;
}
.nav-container li,
.mobile-navlist li {
  list-style-type: none;
}
.nav-container a,
.mobile-navlist a {
  text-decoration: none;
  color: var(--main-font-color);
}
.nav-container a:hover,
.mobile-navlist a:hover {
  color: var(--tertiary-font-color);
}

.nav-container .register:hover,
.mobile-navbar .register:hover,
.register:hover {
  color: var(--main-font-color);
  cursor: pointer;
}
.register {
  display: block;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 0.125rem;
  color: var(--main-font-color);
  background-image: linear-gradient(
    to right,
    var(--secondary-font-color),
    var(--tertiary-font-color)
  );
}

.mobile-navbar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 50px;
  min-width: 290px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-pad {
  padding: 2rem;
}
.big-heading {
  font-family: Clash Display;
  font-size: var(--fs-xlarge);
  font-weight: 700;
  line-height: var(--heading-line-height);
  text-align: left;
  display: block;
}
.heading {
  font-family: Clash Display;
  font-size: var(--fs-larger);
  font-weight: 700;
  line-height: var(--heading-line-height);
  text-align: left;
}
.paragraph {
  font-family: Montserrat;
  font-size: var(--fs-medium);
  font-weight: 400;
  line-height: var(--paragraph-line-height);
  text-align: left;
}

.mobile-navbar li {
  margin-bottom: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
.place-left {
  grid-row: 1;
}
.place-right {
  grid-column: 2;
}
.align-end {
  align-self: end;
}
.align-start {
  align-self: start;
}
.align-center {
  align-self: center;
}
.align-right {
  text-align: right;
}
.img-container img {
  width: 90%;
}
.Typewriter {
  display: inline;
}
@media screen and (width >= 1000px) {
  .nav-check {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
@media screen and (width <= 1000px) {
  .hero .grid-container {
    display: block;
  }
  .grid-container {
    display: block;
  }
  .grid-container.img-container {
    order: 2;
  }
  :root {
    --fs-small: 0.85rem;
    --fs-medium: 1rem;
    --fs-large: 1.25rem;
    --fs-larger: 1.75rem;
    --fs-xlarge: 4rem;
  }
}
@media screen and (width <= 600px) {
  :root {
    --fs-small: 0.75rem;
    --fs-medium: 0.95rem;
    --fs-large: 1rem;
    --fs-larger: 1.25rem;
    --fs-xlarge: 1.5rem;
    --heading-line-height: 1rem;
  }
}
