* {
  padding: 0;
  margin: 0;

  --bg-color: #150e28;
  --main-font-color: #fff;
  --secondary-font-color: #903aff;
  --tertiary-font-color: #d434fe;
}

body {
  padding: 5% 10%;
  background-color: var(--bg-color);
  color: var(--main-font-color);

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
h1 {
  font-family: Clash Display, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
header {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: baseline;
}
header h1 span {
  color: var(--secondary-font-color);
}
nav.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
nav.navbar ul .register-item {
  margin-left: 4rem;
}
nav.navbar ul .register-item button {
  background-image: linear-gradient(
    to right,
    var(--secondary-font-color),
    var(--tertiary-font-color)
  );
  color: var(--main-font-color);
  outline: transparent;
  border: none;
  border-radius: 0.25em;
  padding: 1rem;
}

nav.navbar a {
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease;
}
nav.navbar a:hover {
  color: var(--tertiary-font-color);
}
