* {
  padding: 0;
  margin: 0;

  --bg-color: #150e28;
  --main-font-color: #fff;
  --secondary-font-color: #903aff;
  --tertiary-font-color: #d434fe;

  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;

  padding: 2.5rem 0%;
  background-color: var(--bg-color);
  color: var(--main-font-color);
}
header,
section {
  padding: 0% 7%;
}
hr {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
h1,
h1 span {
  font-family: Clash Display, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
header {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: baseline;
  margin-bottom: 20px;
}
header h1 span {
  color: var(--secondary-font-color);
}
nav.navbar ul > * {
  flex-shrink: 1;
}
nav.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
nav.navbar ul .register-item {
  margin-left: 4rem;
}
button {
  background-image: linear-gradient(
    to right,
    var(--secondary-font-color),
    var(--tertiary-font-color)
  );
  color: var(--main-font-color);
  outline: transparent;
  border: none;
  border-radius: 0.1em;
  padding: 0.5rem 2rem;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
}

nav.navbar a {
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease;
}
nav.navbar a:hover {
  color: var(--tertiary-font-color);
}
.mobile-navbar {
  background-color: var(--bg-color);
  position: absolute;

  top: 0;
  right: 0;

  width: 348px;
  height: 492px;

  border-radius: 8px;
  border: 0.5px solid grey;
  padding: 50px;
}
.mobile-navlist {
  top: 40%;
  position: absolute;
  transform: translateY(-40%);
  list-style-type: none;
}
.mobile-navlist a {
  color: var(--main-font-color);
  text-decoration: none;
}
.mobile-navlist li {
  margin: 15px;
  font-size: 1.1rem;
}
.nav-check {
  position: absolute;
  top: 10px;
  right: -10px;
}
.nav-container {
  visibility: hidden;
}
.flex-div {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
.flex-div > * {
  flex-basis: 50%;
}
.flex-div img {
  max-width: 40%;
  bottom: 0px;
  padding: 0px;
}
.intro .caption {
  text-align: right;
  margin: 1em;
}
.intro p {
  margin-top: 0.25rem;
}
.intro .big-text {
  font-family: Clash Display, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
.intro p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
img {
  object-fit: contain;
}

.intro button {
  font-size: 2em;
  margin-top: 50px;
  padding: 0.5em 1em;
}
.intro .img-container {
  position: relative;
}
.intro .intro-text > :first-child {
  margin-top: 100px;
}
.flex-div article {
  padding-top: 50px;
  padding-bottom: 50px;
}
section {
  margin-bottom: 50px;
}
@media screen and (width >= 1000px) {
  .nav-check {
    display: none;
  }
  .nav-container {
    visibility: visible;
  }
}
